[submodule "foamStyleCheck"]
	path = foamStyleCheck
	url = https://github.com/SedFoam/foamStyleCheck
[submodule "TurbulenceModels/wallFunctions"]
	path = TurbulenceModels/wallFunctions
	url = https://github.com/SedFoam/wallFunctions
