[submodule "foamStyleCheck"]
	path = foamStyleCheck
	url = https://github.com/SedFoam/foamStyleCheck
[submodule "TurbulenceModels/wallFunctions"]
	path = TurbulenceModels/wallFunctions
	url = https://github.com/SedFoam/wallFunctions
[submodule "docker/docker-stacks"]
	path = docker/docker-stacks
	url = https://github.com/jupyter/docker-stacks
        branch = main
