div.image img[src="res1_tuto1.png"]{ 
    width:800px; 
}
div.image img[src="res2_tuto1.png"]{ 
    width:800px; 
}
div.image img[src="res1_tuto2.png"]{ 
    width:800px; 
}
div.image img[src="res2_tuto2.png"]{ 
    width:800px; 
}
div.image img[src="res1_tuto3.png"]{ 
    width:800px; 
}
