name: generate_docker
on:
  push:
    branches: ['develop']
# Warning : schedule is only for default branch
#  schedule:
#    - cron: '0 3 * * 1'
defaults:
  run:
    shell: bash
jobs:

  build:
    runs-on: ubuntu-latest
    container: opencfd/openfoam-dev:2312
    steps:
      - name: install git
        run: |
          apt-get update && apt-get install -y git
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build sedfoam
        run: |
          shopt -s expand_aliases && source /openfoam/bash.rc &&
          export FOAM_USER_LIBBIN=$FOAM_SITE_LIBBIN && ./Allwmake -prefix=group

  docker:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: sedfoam_2312_ubuntu
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: 'arm64,arm'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: docker
          push: true
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          tags: cbonamy/${{ env.IMAGE_NAME }}:latest

  docker_nb:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: sedfoam_2312_notebook
    needs: docker
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: 'arm64,arm'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: docker
          file: docker/Dockerfile_nb
          push: true
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          tags: cbonamy/${{ env.IMAGE_NAME }}:latest
