name: generate_docker
on:
  push:
    branches: ['develop']
# Warning : schedule is only for default branch
#  schedule:
#    - cron: '0 3 * * 1'
defaults:
  run:
    shell: bash
jobs:

  docker_arm:
    runs-on: macos-13
    env:
      IMAGE_NAME: sedfoam_2406_ubuntu
    #needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: douglascamata/setup-docker-macos-action@v1-alpha

      - name: Install buildx
        run: |
          mkdir -p "${HOME}/.docker/cli-plugins"
          curl -fL https://github.com/docker/buildx/releases/download/v0.16.2/buildx-v0.16.2.darwin-amd64 -o "${HOME}/.docker/cli-plugins/docker-buildx"
          chmod +x "${HOME}/.docker/cli-plugins/docker-buildx"
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64/v8
          push: true
          tags: cbonamy/${{ env.IMAGE_NAME }}:latest
          context: docker

